@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:ital@1&display=swap");

@media only screen and (max-width: 400px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  :root {
    font-size: 10px;
    line-height: 1.5;
  }

  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  #main_page_header {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
      url("../img/banners/main_banner.jpeg") no-repeat center center/cover;
    background-attachment: fixed;
  }

  #main_navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 7rem;
  }

  #main_navbar .logo_heading {
    color: white;
    text-align: center;
    font-size: 2rem;
  }

  #main_navbar h1 span {
    color: rgba(6, 174, 6, 0.934);
  }

  #main_navbar .menu .menu_list {
    list-style: none;
  }

  #main_navbar .menu .menu_list .items {
    display: inline-block;
  }

  #main_navbar .menu .menu_list .items.active {
    color: black;
    border-bottom: 0.2rem solid green;
  }

  #main_navbar .menu .menu_list .items a {
    display: inline-block;
    padding: 0.5rem;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    color: white;
  }

  #main_navbar .menu .menu_list .items a:hover {
    border-bottom: 0.2rem solid green;
  }

  #main_content {
    height: calc(100vh - 7rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #main_content .main_content_header {
    color: white;
    font-size: 1.6rem;
    text-align: center;
    padding: 0 1rem;
  }

  #main_content .main_content_header span {
    color: #f7c08a;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }

  #main_content .main_content_sub {
    color: white;
    font-size: 1.2rem;
    padding: 1rem 0.2rem;
    text-align: center;
  }

  #main_content .main_content_sub span {
    color: #f7c08a;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }

  #main_content .btn {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), green;
    border-radius: 0.3rem;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
  }

  #main_content .btn .know_more {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }

  #scroll_top {
    height: 3rem;
    width: 3rem;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), green;
    position: fixed;
    right: 0;
    bottom: 0;
    border: 1px solid white;
    display: flex;
  }

  #scroll_top a {
    width: 100%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white;
    margin: auto;
  }

  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 30;
  }

  /* Certification page CSS */

  #certifications_page_header {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
      url("../img/banners/certifications_banner_mobTab.jpg") no-repeat center
        center/cover;
    background-attachment: fixed;
  }

  #certifications {
    display: grid;
    margin-top: auto;
    margin: 15rem auto;
    width: 100%;
    gap: 5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "a a b"
      "c c d"
      "e e f";
  }

  #certifications .tiles {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
  }

  #certifications .tileimg {
    height: 10rem;
    animation-name: image;
  }

  #certifications .tiletext {
    animation-name: text;
  }

  #certifications .a {
    grid-area: a;
    animation-duration: 3s;
  }
  #certifications .b {
    grid-area: b;
  }
  #certifications .b .tile1 {
    animation-duration: 3s;
  }
  #certifications .c {
    grid-area: c;
    animation-duration: 4s;
  }
  #certifications .d {
    grid-area: d;
  }
  #certifications .d .tile2 {
    animation-duration: 4s;
  }
  #certifications .e {
    grid-area: e;
    animation-duration: 5s;
  }
  #certifications .f {
    grid-area: f;
  }
  #certifications .f .tile3 {
    animation-duration: 5s;
  }

  @keyframes image {
    from {
      transform: translateX(300%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes text {
    from {
      transform: translateX(-300%);
    }
    to {
      transform: translateX(0);
    }
  }

  /* contact page css */

  #contact_page_header #main_navbar {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), #2596be;
  }

  #contact_page_header #contact_form {
    min-height: 30rem;
    overflow: auto;
    background: url("../img/banners/contact_page_banner.jpg") no-repeat center
      center/cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    text-align: center;
  }
  #contact_page_header #contact_form .main_text {
    color: black;
    width: 100%;
    font-size: 3rem;
    font-weight: bolder;
  }
  #contact_page_header #contact_form:hover {
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2),
      0 2rem 2rem 0 rgba(0, 0, 0, 0.19);
  }
  #contact_page_header #contact_cards {
    display: grid;
    grid-template-areas:
      "a"
      "b"
      "c";
    grid-template-rows: repeat(1fr, 3);
    justify-items: center;
    align-items: center;
    height: 75rem;
    gap: 2rem;
  }

  #contact_page_header #contact_cards .mail {
    grid-area: a;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #b7b5b5;
  }
  #contact_page_header #contact_cards .address {
    grid-area: b;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #contact_page_header #contact_cards .smicons {
    grid-area: c;
    text-align: center;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #b7b5b5;
  }
  #contact_page_header #contact_cards .smicons .icons {
    text-align: center;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
  }

  #contact_page_header #contact_cards .contacttext {
    font-size: 1.5rem;
    font-weight: bolder;
  }
}
