@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:ital@1&display=swap");

@media only screen and (max-width: 800px) and (min-width: 401px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  :root {
    font-size: 10px;
    line-height: 1.5;
  }

  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  header {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
      url("./main_banner.jpg") no-repeat center center/cover;
    background-attachment: fixed;
  }

  #main_navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
  }

  #main_navbar .logo_heading {
    color: white;
    font-size: 2rem;
  }

  #main_navbar h1 span {
    color: rgba(6, 174, 6, 0.934);
  }

  #main_navbar .menu .menu_list {
    list-style: none;
  }

  #main_navbar .menu .menu_list .items {
    display: inline-block;
  }

  #main_navbar .menu .menu_list .items.active {
    color: black;
    border-bottom: 0.1rem solid green;
  }

  #main_navbar .menu .menu_list .items a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;
    color: white;
  }

  #main_navbar .menu .menu_list .items a:hover {
    border-bottom: 0.1rem solid green;
  }

  #main_content {
    height: calc(100vh - 7rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #main_content .main_content_header {
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 0 1rem;
  }

  #main_content .main_content_header span {
    color: #f7c08a;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }

  #main_content .main_content_sub {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    padding: 0 1rem;
  }

  #main_content .main_content_sub span {
    color: #f7c08a;
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
  }

  #main_content .button {
    width: 3rem;
    height: 2rem;
    background: green;
  }

  #main_content .button a {
    text-decoration: none;
    color: white;
  }

  #scroll_top {
    height: 4rem;
    width: 4rem;
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), green;
    right: 0;
    bottom: 0;
    border: 1px solid white;
    display: flex;
  }

  #scroll_top a {
    width: 100%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white;
    margin: auto;
  }

  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 30;
  }

  #main_content .btn {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), green;
    border-radius: 0.3rem;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
  }

  #main_content .btn .know_more {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }

  #cards {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  #cards .card {
    height: 15rem;
    border: 1px solid black;
    background: red;
    transition-duration: 3s;
    transform: translateY(-100px);
  }

  #cards .card:hover {
    transform: translateY(-100px);
  }

  #cards .card.clear_cards {
    display: none;
  }

  #clear_card_section .clear_all {
    display: flex;
    justify-content: center;
  }

  #clear_card_section .clear_all .clr_button {
    width: 100%;
    padding: 0.5rem;
  }
}
